/*creazione regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

  /*creazione root*/
}
:root {
  --brg-nav: #FF6900;
  --brg-footer: #1A1A1A;
  --brg-sconto: #FF0000;
  --brg-sost: #008000;
}

  /*creazione + fixed e z-index nav*/  
.brg1 {
    background-color: var(--brg-nav);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
 
 
  /*creazione e modifica layout nav*/     
}
.container-2 {
    max-width: 1200px;
    margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;   
   padding:15px;
   color: white;
}

/*ridimensionamento logo nav*/
#logo {
  max-width: 120px;
    max-height: 220px;
    
}

/*creazione e modifica layout lista nav*/
.lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    
}

/*modifica dimensione container loghi nav + modifica colore loghi*/
.container-loghi {
   padding: 5px;
   color: white;
}

/*modifica margin top main*/
main {
    margin-top: 40px;
}

/*modifica posizionamento text decoration e color di tutte le a*/
a {
    padding-left: 5px;
    text-decoration: none;
    color: white;
}

/*creazione e modifiche flex contenitore generale 1 del main*/
.container {
   display: flex;
   margin: 0 auto;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
   padding: 10px;
}

/*modifiche generali layout + position absolute logo Heart*/
.absolute-h {
    position: absolute;
    top:10px;
    right: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

/*modifiche generali layout + position absolute segnale di sconto*/
.sconto {
    position: absolute;
    bottom:100px;
    left: 0px;
    background-color: var(--brg-sconto);
    color: white;
    width: 50px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    
}

/*modifiche generali layout + position absolute segnale di sostenibilità*/
.sostenibilità {
    position: absolute;
    bottom:100px;
    left: 54px;
    background-color: var(--brg-sost);
    color: white;
    width: 85px;
    height: 25px;
    padding-top: 4px;
    text-align: center;

}

/*modifiche generali layout + position absolute segnale di sostenibilità card 6*/
.sostenibilità2 {
    position: absolute;
    bottom:100px;
    left:0px;
    background-color: var(--brg-sost);
    color: white;
    width: 85px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
}

/*modifiche dimensioni immagini 1 all'interno di tutte le card + display block*/
.img1 {
    width: 100%;
    height: 500px;
    display: block;
}

/*modifiche dimensioni immagini 2 all'interno di tutte le card + display none*/
.img2 {
    width: 100%;
    height: 500px;
    display: none;

}

/*modifica padding top di tutte le sezioni*/
.relative {

  padding-top: 20px;
    
}

/*modifica margin + position relative di tutti i contenitori genitori card*/
.card {
    position: relative;
    margin: 10px;
}

/*hover di tutte le immagini 1 all'interno di tutte le card*/
.card:hover .img1 {
     display: none;
}

/*hover di tutte le immagini 2 all'interno di tutte le card*/
.card:hover .img2 {
    display: block;   
}

/*modifica di tutti i paragrafi senza classi o id all'interno del sito*/
p {
  font-size: 12px;
}

/*modifica colore di parti di paragrafi indicanti il prezzo attuale*/
.red {
    color: var(--brg-sconto);
}

/*modifica colore di parti di paragrafi indicanti il prezzo tagliato*/
.black {
    color: black;
}

/*modifiche generali footer*/
.bgr-ft {
    background-color: var(--brg-footer);
    margin-top: 20px;
    height: 100px;
    padding-left: 3%;
    
    
}

/*modifica dimensione paragrafo footer*/
.p-ft {
    font-size: 18px;
    

}

/*modifica posizionamento degli span*/
span {
    padding-left: 4px;
}

/*modifica dimensione e posizionamento paragrafo sopra i loghi footer*/
#align {
    
    font-size: 13px;
    text-align: center;

}