* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}
:root {
  --brg-nav: #FF6900;
  --brg-footer: #1A1A1A;
  --brg-sconto: #FF0000;
  --brg-sost: #008000;
}

.bordo {
    border: 1px solid black;
}


.brg1 {
    background-color: var(--brg-nav);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    
}
.container-2 {
    max-width: 1200px;
    margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;   
   padding:15px;
}

#logo {
  max-width: 120px;
    max-height: 220px;
    
}

.lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    
}

main {
    margin-top: 40px;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: white;
}

.container {
   display: flex;
   margin: 0 auto;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
   padding: 10px;
}

.container-loghi {
   padding: 5px;
   color: white;
}
.absolute-h {
    position: absolute;
    top:10px;
    right: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.sconto {
    position: absolute;
    bottom:100px;
    left: 0px;
    background-color: var(--brg-sconto);
    color: white;
    width: 50px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    
}

.sostenibilità {
    position: absolute;
    bottom:100px;
    left: 54px;
    background-color: var(--brg-sost);
    color: white;
    width: 85px;
    height: 25px;
    padding-top: 4px;
    text-align: center;

}
.sostenibilità2 {
    position: absolute;
    bottom:100px;
    left:0px;
    background-color: var(--brg-sost);
    color: white;
    width: 85px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
}

.img1 {
    width: 100%;
    height: 500px;
    display: block;
}

.img2 {
    width: 100%;
    height: 500px;
    display: none;

}

.relative {
  padding-top: 15px;
    
}

.card {
    position: relative;
    margin: 10px;
}


.card:hover .img1 {
     display: none;
}

.card:hover .img2 {
    display: block;
    
    
    
    
}


p {
  font-size: 12px;
}

.red {
    color: var(--brg-sconto);
}

.black {
    color: black;
}